*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

body a {
	font-size: 13px;
}

.customclass {
display: flex;
justify-content: flex-end;
align-items: center;
}
.customclass .d {
margin-right: 20px;
}
.customclass a {
color:  rgba(0,0,0,0.87);
}

/*before and after pseudo codes ***********************/

.search_box {
width: 45%;
border: 1px solid lightgrey;
border-radius: 50px;
padding: 8px;
margin-top: 20px;
}
.search_box:hover{ 
  box-shadow: 1px 1px 5px darkgrey;
 }

.cbtn {
border: none;
margin-right: 4px;
padding: 8px 12px;
font-size: 14px;
color: #3c4043;
border-radius: 4px;
}
.cbtn:hover {
border:1px solid lightgrey;
}
.lang:a {
margin-right: 12px;
}
.footer-bottom {
background-color: #f2f2f2;
}
.upper-div {
color: #70757a;
border-bottom: 1px solid lightgrey;
padding: 15px 30px;
}
.bottom-div {
display: flex;
padding: 15px 30px;
justify-content: space-between;
}
.bottom-div a {
color: #70757a;
padding-right: 20px;
}

.customfonts {
	font-size: 13px;
	color: #3c4043;
}
.lang {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}
.lang_innerdiv {
	width: 44%;
}
.lang_innerdiv a {
   margin-right: 5px;
   color: #1a0dab;
} 